:root {

--desaturated-red: hsl(0, 36%, 70%);
--soft-red: hsl(0, 93%, 68%);
--dark-grayish-red: hsl(0, 6%, 24%);
}


.josefin-sans-300 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.josefin-sans-400 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.josefin-sans-600 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100svh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, minmax(50%, 100%));
    grid-template-rows: 5.2rem 0.5fr 1fr;
    
 
    background-color: hsl(from var(--soft-red) h s l / 0.05);
}

.card {
    grid-area: content;
    display: flex;
    flex-direction: column;
   
    align-items: center;
   
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: center;
   
}
.card-head {
    color: var(--dark-grayish-red);

    /* Mobile */
    /* max-width: 10ch; */
    /* font-size: 2.5rem; */
    /* letter-spacing: .7rem; */
    /* line-height: 1.05; */
    /* margin-block-end: 1.17rem; */
    /* margin-block-start: 4rem; */
    max-width: 10ch;
    font-size: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);
    letter-spacing: clamp(0.7rem, 0.5768rem + 0.5258vw, 1.05rem);
    padding-inline-start: clamp(0rem, -3.5211rem + 15.0235vw, 10rem);
    margin-block: clamp(4rem, 3.8239rem + 0.7512vw, 4.5rem) 1.17rem;
    /* Desktop */
    /* max-width: 20ch; */
    /* font-size: 4rem; */
    /* letter-spacing: 1.05rem; */
    /* line-height: 1.08; */
    /* padding-inline-start: 10rem; */
    /* margin-block-end: 1.17rem; */
    /* margin-block-start: 4.5rem; */
}
.card-head>span {
    color: var(--desaturated-red);
}

.card-para {
    color: var(--desaturated-red);
   /* Mobile */
    /* font-size: 0.85rem; */
    /* max-width: 36ch; */
    /* line-height: 1.6; */
    /* margin-block-end: 1.9rem; */
    
    padding-inline-start: clamp(0rem, -3.5211rem + 15.0235vw, 10rem);
    font-size: clamp(0.85rem, 0.8042rem + 0.1953vw, 0.98rem);
    max-width: 36ch;
    line-height: 1.6;
    margin-block-end: clamp(1.9rem, 1.6887rem + 0.9014vw, 2.5rem);
    /* Desktop */
    /* padding-inline-start: 10rem; */
    /* font-size: 0.98rem; */
    /* max-width: 60ch; */
    /* line-height: 1.75; */
    /* margin-block-end: 2.5rem; */
}
.email {
    display: flex;
    border: 1px solid hsl(from var(--dark-grayish-red) h s l / 0.2);
    align-items: center;
    border-right: 0px solid transparent;
    border-radius: 300px;
  
    margin-inline-start: clamp(0rem, -3.5211rem + 15.0235vw, 10rem);
    margin-block-end: clamp(0rem, -0.1761rem + 0.7512vw, 0.5rem);

    /* Desktop */
    /* margin-inline-start: 10rem; */
    /* margin-block-end: 0.5rem; */
}

.email-input {
    all:unset;
    
    /* Mobile */
    /* width:13rem; */
    /* margin-inline-end: 0.7rem; */
    /* padding-inline-start: 1.5rem; */

    width: clamp(13rem, 10.7113rem + 9.7653vw, 19.5rem);
    margin-inline-end: clamp(0.2rem, 0.8761rem + -0.7512vw, 0.7rem);
    padding-inline-start: clamp(1.5rem, 1.3944rem + 0.4507vw, 1.8rem);
    /* Desktop */
    /* width:19.5rem; */
    /* margin-inline-end: 0.2rem; */
    /* padding-inline-start: 1.8rem; */
    
}

.email-error {
    background: url('../images/icon-error.svg') no-repeat right 13px center;
}

.email-error-border {
    border: 3px solid var(--soft-red);
}

.email-input::placeholder {
    color: var(--desaturated-red);
    /* Mobile */
    /* font-size: 0.86rem; */

    font-size: clamp(0.86rem, 0.8107rem + 0.2103vw, 1rem);
    /* Desktop */
    /* font-size: 1rem; */

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.email-arrow {
    background: linear-gradient(135deg in hsl shorter hue, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    

    /* Mobile */
    /* padding-inline: 1.7rem; */
    /* padding-block: 0.9rem; */
    /* border-radius: 25px; */
    /* border-top-left-radius: 25px; */
    /* border-bottom-left-radius: 25px; */
    padding-inline: clamp(1.7rem, 1.3127rem + 1.6526vw, 2.8rem);
    padding-block: clamp(0.9rem, 0.8296rem + 0.3005vw, 1.1rem);

    border-radius: clamp(1.5625rem, 1.2324rem + 1.4085vw, 2.5rem);
    
    /* Desktop */
    /* border-radius: 40px; */
    /* border-top-left-radius: 40px; */
    /* border-bottom-left-radius: 40px; */
    /* padding-inline: 2.8rem; */
    /* padding-block: 1.1rem; */
}
.email-arrow:hover {
    transform: scale(1.1, 1.1) perspective(1px);
    cursor: pointer;
}

.error {
    font-size: 0.8rem;
    padding-inline-start: 12rem;

    color: var(--soft-red);
}

.error-hide {
    display: none;
}
header {
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Mobile */
    /* padding-inline-start: 2rem; */

    /* Desktop */
    padding-inline-start: 10rem;

    grid-column: 1 / span 2;
    grid-row: 1;

}
header>img {
    /* Mobile */
    /* width:100px; */
    /* Desktop */
    width:9.7rem;
    
   
}
.hero-img {
    width: 100%;
    /* move height to media query, might have to move back here  */
}

picture {
    
    grid-column: 1 / span 2;
    grid-row: 2;
    
}


@media (min-width: 56.71rem) {
    body {
       background-image: url('../images/bg-pattern-desktop.svg');
        grid-template-columns: 1fr 0.74fr;
        grid-template-rows: 10rem 1fr;
    }

    .card {
        grid-column: 1 / span 1;
        grid-row: 2;
        align-items: flex-start;
        text-align: left;
       
    }
    .card-head {
        max-width: 20ch;
        line-height: 1.08;
    }
    .card-para {
        max-width: 60ch;
        line-height: 1.75;
    }
    .email-arrow {
        /* border-radius: 40px; */
    }
    .hero-img {
        height: 100%;
    }
    picture {
        grid-column: 2;
        grid-row: 1 / span 3;
        height: 100%;
    }

    header {
        grid-column: 1 / span 1;
    }
    
}

