:root {

--desaturated-red: hsl(0, 36%, 70%);
--soft-red: hsl(0, 93%, 68%);
--dark-grayish-red: hsl(0, 6%, 24%);
}


.josefin-sans-300 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.josefin-sans-400 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.josefin-sans-600 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100svh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50%, 100%));
    grid-template-rows: 5.2rem 1fr;
    grid-template-areas: 
    "head"
    "img"
    "content";
    /* background-color: hsl(0, 85.71%, 97.25%); */
    /* background-color: hsl(8.57, 77.78%, 98.24%); */
    background-color: hsl(from var(--soft-red) h s l / 0.05);
}

.card {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}
.card-head {
    color: var(--dark-grayish-red);
    max-width: 10ch;
    font-size: 2.5rem;
    letter-spacing: .7rem;
    line-height: 1.05;
    text-align: center;
}
.card-head>span {
    color: var(--desaturated-red);
}

.card-para {
    /* margin-inline: auto; */
    text-align: center;
    font-size: 0.85rem;
    max-width: 36ch;
    line-height: 1.6;
    color: var(--desaturated-red);
}
.email {
    display: flex;
    border: 1px solid hsl(from var(--dark-grayish-red) h s l / 0.2);
    border-radius: 300px;
    border-right: 0px solid transparent;
    align-items: center;
    /* padding-inline-start: 1.5rem; */
    /* padding-block: 0.5rem; */
}
#email {
    all:unset;
    width:13rem;
    margin-inline-end: 0.7rem;
    padding-inline-start: 1.5rem;
    
}

#email::placeholder {
    color: var(--desaturated-red);
    /* padding-inline-start: 1.5rem; */
    font-size: 0.86rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.email-arrow {
    background: linear-gradient(135deg in hsl shorter hue, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    /* background: linear-gradient(135deg, #f8bfbf, #ee8c8c); */
    border-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-inline: 1.7rem;
    padding-block: 0.8rem;
}
header {
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline-start: 2rem;
}
header>img {
    width:100px;
    /* height: 50px; */
}
.hero-img {
    width: 100%;
    grid-area: img;
}


